@import '../../../styles-variables';

.mat-card { 
    padding: 0 0 !important;
    text-align: center;
    margin-top:15px!important;
}

.mat-card-sm-image {
    width: 180px;
    height: 180px;
}

.pageHeader {
    white-space: nowrap; 
    line-height: 50px;
    background-color: #3f8fc9;
    padding-left:50px;
}
nav {
    margin-bottom: 20px;

    .mat-tab-link {
        min-width: 120px;
        padding: 0 15px;
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
        .mat-tab-link {
            min-width: 0;
        }
    }
}