@import '../../../../styles-variables';

.mat-card { 
    padding: 0 0 !important;
    text-align: center;
    margin-top:15px!important;
}

.mat-card-sm-image {
    width: 180px;
    height: 180px;
}

.pageHeader {
    white-space: nowrap; 
    line-height: 50px;
    background-color: #3f8fc9;
    padding-left:50px;
}
