<div [class]="'theme-wrapper ' + (themeClass)">
    <mat-drawer-container   autosize>
        <mat-drawer style=" width: 240px;" fixedInViewport="true" position="start" #drawer class="mainsidenav" mode="over">
            <mat-toolbar color="primary">
                {{ 'appName' | translate}}
                <button style=" margin-left: 120px;" mat-icon-button (click)="drawer.toggle()">
                    <fa-icon class="fas   fa-lg" icon="bars"></fa-icon>
                </button>
            </mat-toolbar>
            <mat-nav-list>
                <a mat-menu-item *ngFor="let item of navigations" (click)="drawer.close()" [routerLink]="[item.link]"
                   routerLinkActive="active">
                    <mat-icon> {{item.icon}}</mat-icon> {{item.label | translate}}
                </a>
                <mat-divider></mat-divider> 
                <h3 mat-subheader>Resources</h3>
                <a mat-menu-item routerLink="/profile">
                    <mat-icon>account_box</mat-icon>   {{ 'user.profile' | translate}}
                </a>
                <a mat-menu-item routerLink="/about">
                    <mat-icon>info_outline</mat-icon>   {{ 'main.menu.about' | translate}}
                </a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </mat-drawer>

    
        <div class="wrapper">
            <div class="toolbar">
                <mat-toolbar color="primary">
                    <button mat-icon-button (click)="drawer.toggle()">
                        <fa-icon icon="bars"></fa-icon>
                    </button>

                    <span routerLink="/" class="branding   d-none d-md-inline">
                        <img [src]="logo" [alt]="logo" /> {{'appName' | translate }}
                    </span>

                    <span class="navbar-spacer"></span>
                    <button class="matero-toolbar-button" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>




                    <span mat-icon-button class="matero-toolbar-button" style="min-width:80px!important" matTooltip="language"
                          *ngIf="selectedLanguage">
                        <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="onLanguageSelect()">
                            <mat-option *ngFor="let language of languages" [value]="language">{{language.label}}</mat-option>
                        </mat-select>
                    </span>

                    <span mat-icon-button class="matero-toolbar-button" style="min-width:80px!important" matTooltip="theme"
                          *ngIf="selectedTheme">
                        <mat-select [(ngModel)]="selectedTheme" (selectionChange)="onSelectTheme()">
                            <mat-option *ngFor="let theme of themes" [value]="theme">
                                {{ 'anms.setting.themes.' + theme.label | translate }}
                            </mat-option>
                        </mat-select>
                    </span>


                    <app-notification matTooltip="Notifications"></app-notification>
                    <a class="matero-toolbar-button" matTooltip="{{ 'main.menu.logout' | translate }}" mat-icon-button *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
                        {{ 'main.menu.login' | translate }}
                    </a>

                    <a class="matero-toolbar-button" matTooltip="{{ 'main.menu.logout' | translate }}"
                       style=" display:block; max-width:60px!important"
                       *ngIf="(isAuthenticated$ | async)"
                       mat-item mat-icon-button (click)="onLogoutClick()">
                        <mat-icon>exit_to_app</mat-icon>
                    </a>
                    <a class="matero-toolbar-button" matTooltip="Menu" mat-icon-button [matMenuTriggerFor]="userMenu">
                        <!--<mat-icon>account_circle</mat-icon>-->
                        <img class="matero-avatar" src="assets/images/avatar.jpg" width="32" alt="avatar" />
                    </a>
                    <mat-menu #userMenu="matMenu">
                        <a *ngIf="(!isLoggedIn)" mat-menu-item [routerLink]="['/auth/login']">
                            <mat-icon>login</mat-icon> Login
                        </a>
                        <a *ngIf="(!isLoggedIn )" mat-menu-item [routerLink]="['/about']">
                            <mat-icon>about</mat-icon>About
                        </a>
                        <a *ngIf="(isLoggedIn )" mat-menu-item [routerLink]="['/setting']">
                            <mat-icon>settings</mat-icon>
                            <span> {{ 'main.menu.setting' | translate}}</span>
                        </a>
                        <a *ngIf="(isLoggedIn )" mat-menu-item [routerLink]="['/auth/profile']">
                            <mat-icon>account_box</mat-icon>
                            <span> {{ 'user.profile' | translate}}</span>
                        </a>
                        <a *ngIf="(isLoggedIn )" mat-menu-item (click)="onLogoutClick()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>{{ 'main.menu.logout' | translate }}</span>
                        </a>
                    </mat-menu>
                    <a class="matero-toolbar-button" mat-icon-button (click)="sidenavNotice.toggle()">
                        <fa-icon icon="bars"></fa-icon>
                    </a>

                </mat-toolbar> 
            </div>

            <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
                <div *ngIf="showLoadingBar$ | async">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>

                <div *ngIf="showSpinner$ | async" class="overlay">
                    <div class="center">
                        <mat-spinner color="primary" style="margin:0 auto;" mode="indeterminate"> </mat-spinner>
                    </div>
                </div> 
                <router-outlet #o="outlet"></router-outlet>

            </div>

        </div> 
   
    </mat-drawer-container>
    <mat-drawer   fixedInViewport="true"  
                style="min-width:30%;position:fixed;top:60px; " class="sidenavnotice" #sidenavNotice position="end" mode="over">
        <button style="margin-left:10px; height: 60px;" mat-icon-button (click)="sidenavNotice.toggle()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-divider></mat-divider>
        <app-sidebar-notice></app-sidebar-notice>
    </mat-drawer>

</div>
