<div class="background">
  <div class="gradient">
      <div class="container"> 
          <h1>{{ 'main.menu.about' | translate }}</h1>
          <div class="actions">
              <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
                  {{ 'anms.menu.features' | translate }}
              </a>
              <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
                  {{ 'anms.menu.examples' | translate }}
              </a>
              <a mat-raised-button class="actions-main" color="warn" routerLink="../setting" [ngClass]="routeAnimationsElements">
                  {{ 'anms.about.change-theme' | translate }}
              </a>
              <a mat-raised-button class="actions-main" color="accent" (click)="showDialog()">
                  Show Dialog
              </a> 
          </div>

      </div>
  </div>
</div>
 
 
