<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>xxxxx</h1>
        </div>
    </div> 
    <ng-container>

        <div class="row">
            <div class="col-md-6" [ngClass]="routeAnimationsElements">
                <mat-form-field *ngIf="selectedlanguage" fxFill>
                    <mat-select  placeholder="{{ 'form.auth.email' | translate }}" [ngModel]="selectedlanguage" (selectionChange)="onLanguageSelect($event)">
                        <mat-option *ngFor="let lang of languages" [value]="lang">
                            {{ lang  }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" [ngClass]="routeAnimationsElements">
                <span *ngIf="selectedtheme">
                    <mat-select [ngModel]="selectedtheme" (selectionChange)="onThemeSelect($event)">
                        <mat-option *ngFor="let theme of themes" [value]="theme">
                            {{theme.label.toUpperCase() }}
                        </mat-option>
                    </mat-select>
                </span>


            </div>
        </div>
    </ng-container>
</div>
