<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'Setting_Setting' | translate }}</h1>
        </div>
    </div> 
    <ng-container>

        <div class="row">
            <div class="col-md-6" [ngClass]="routeAnimationsElements">
                <mat-icon color="accent"><fa-icon icon="language" color="accent"></fa-icon></mat-icon>
                <mat-form-field *ngIf="selectedlanguage" fxFill>
                    <mat-select placeholder="{{ 'Setting_Language' | translate }}" [ngModel]="selectedlanguage" (selectionChange)="onLanguageSelect($event)">
                        <mat-option *ngFor="let lang of languages" [value]="lang">
                            {{ lang  }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" [ngClass]="routeAnimationsElements">
                <mat-icon mat-list-icon>
                    format_color_fill
                </mat-icon>
                
                <mat-form-field *ngIf="selectedtheme" fxFill>
                    <mat-select [placeholder]="'anms.setting.themes.placeholder' | translate"
                                [ngModel]="selectedtheme"
                                (selectionChange)="onThemeSelect($event)"
                                name="themes">
                        <mat-option *ngFor="let theme of themes" [value]="theme">
                            {{ 'anms.setting.themes.' + theme.label | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
       
    </ng-container>
</div>
